@import "tailwindcss";

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Bold.ttf");
  font-weight: 800;
  font-style: bold;
}

@theme {
  --font-default: "Roboto", sans-serif;

  --color-btn: #242742;
  --color-form-border: #949494;
}
